section.section.price
	.section_in.price__in
		h2.price__title
			.price__title_in Тарифы
		-
			list = [
				{
					old_price: '200<span>$</span>',
					title: 'Standart',
					subtitle: '8 блоков',
					place: 'Неограничено',
					list: ['Доступ к 1-8 блоку','Презентации курса','Пожизненный доступ к курсу','Сертификат о прохождении курса','Бонусные материалы в каждом модуле (чек-листы, скрипты, гайды, шаблоны','Доступ к авторскому конструктору креативов на базе Figma','Design Box – пак бесплатных материалов и ресурсов для дизайнеров: 3d, иконки, фоны, текстуры, шрифты, мокапы и другое','Доступ в закрытый чат с участниками курса(-)','Проверка домашних заданий на протяжении всего обучения(-)','Еженедельные групповые созвоны с автором курса на протяжении 2х месяцев(-)','Чат подрядчиков с передачей клиентов для лучших учеников(-)','Модуль по упаковке, поиску клиентов и продажам на высокий чек (-)','Блок по выходу на зарубежный рынок и работе с иностранными клиентами через UpWork (-)','Закрытые VIP-созвоны с автором курса на протяжении 2х месяцев(-)','Месяц поддержки от автора после окончания курса(-)','Отдельный VIP-чат с автором курса(-)','Финальный созвон с детальным разбором каждого участника и созданием дорожной карты в точку Б'],
					price: '100<span>$</span>',
				},
				{
					old_price: '350<span>$</span>',
					title: 'Premium',
					subtitle: '11 блоков',
					place: 'Всего 50 мест',
					list: ['Доступ к 1-11 блоку','Презентации курса','Пожизненный доступ к курсу','Сертификат о прохождении курса','Бонусные материалы в каждом модуле (чек-листы, скрипты, гайды, шаблоны)','Доступ к авторскому конструктору креативов на базе Figma','Design Box – пак бесплатных материалов и ресурсов для дизайнеров: 3d, иконки, фоны, текстуры, шрифты, мокапы и другое','Доступ в закрытый чат с участниками курса','Проверка домашних заданий на протяжении всего обучения','Еженедельные групповые созвоны с автором курса на протяжении 2х месяцев','Чат подрядчиков с передачей клиентов для лучших учеников','Модуль по упаковке, поиску клиентов и продажам на высокий чек','Блок по выходу на зарубежный рынок и работе с иностранными клиентами через UpWork','Закрытые VIP-созвоны с автором курса на протяжении 2х месяцев','Месяц поддержки от автора после окончания курса','Отдельный VIP-чат с автором курса','Финальный созвон с детальным разбором каждого участника и созданием дорожной карты в точку Б'],
					price: '250<span>$</span>',
				},
				{
					old_price: '600<span>$</span>',
					title: 'Vip',
					subtitle: '13 блоков',
					place: 'Всего 5 мест',
					list: ['Доступ ко всем блокам','Презентации курса','Пожизненный доступ к курсу','Сертификат о прохождении курса','Бонусные материалы в каждом модуле (чек-листы, скрипты, гайды, шаблоны)','Доступ к авторскому конструктору креативов на базе Figma','Design Box – пак бесплатных материалов и ресурсов для дизайнеров: 3d, иконки, фоны, текстуры, шрифты, мокапы и другое','Доступ в закрытый чат с участниками курса','Проверка домашних заданий на протяжении всего обучения','Еженедельные групповые созвоны с автором курса на протяжении 2х месяцев','Чат подрядчиков с передачей клиентов для лучших учеников','Модуль по упаковке, поиску клиентов и продажам на высокий чек','Блок по выходу на зарубежный рынок и работе с иностранными клиентами через UpWork','Закрытые VIP-созвоны с автором курса на протяжении 2х месяцев','Месяц поддержки от автора после окончания курса','Отдельный VIP-чат с автором курса','Финальный созвон с детальным разбором каждого участника и созданием дорожной карты в точку Б'],
					price: '450<span>$</span>',
				},
			]
		ul.price__list
			each item, index in list
				.price__item
					.price__item_in
						h3.price__item_title= item.title
						.price__subtitle= item.subtitle
						.price__place
							.price__place_in= item.place
						ul.price__item_list
							each subitem in item.list
								li.price__sublist_item= subitem
						.price__price_old(class=`price__price_old--color_${index + 1}`)!= item.old_price
						h4.price__price_w
							.price__price!= item.price
						.price__btn_w
							a(href='#').price__pay Оплатить тариф
							a(href='#').price__payment оформить рассрочку
