section.section.program
	+picture({
		class: 'program__decor',
		img_class: 'program__decor_in',
		img: `prog_decor.png`,
		alt: 'decor',
	})
	.section_in.program__in
		.program__title
			h2.program__title_in Программа обучения
		ul.program__list
			-
				programList = [
					{
						title: 'Наставление на обучение',
						result_descr: 'Получите пошаговый план действий на обучение и стратегию развития на 6 месяцев. Поймете как эффективно внедрить знания на курсе и получить результат.',
						descr_list: ['План обучения', 'Как получить максимальный результат от обучения', 'Постановка и достижение целей', 'Знакомство Zoom-созвон'],
						mat_list: [
							{
								text: 'Грамотная постановка и движение к целям',
								icon: 'n',
							},
							{
								text: 'Карта развития на 6 месяцев',
								icon: 'n',
							},
						]
					},
					{
						title: 'Основы',
						result_descr: 'На живых примерах поймете, как делать результативные креативы и узнаете, что влияет на их эффективность. Прокачаете насмотренность и научитесь быстро генерировать и реализовывать идеи.',
						descr_list: ['Что такое рекламный креатив','Основные правила эффективного креатива','Из чего состоит креатив','Триггеры','Примеры эффективных креативов','Разбираем лучшие креативы на триггеры','Как тренировать насмотренность',],
						mat_list: [
							{
								text: 'Терминология/сленг',
								icon: 'p',
							},
							{
								text: 'Подборка источников для вдохновения',
								icon: 'n',
							},
						]
					},
					{
						title: 'Базовые инструменты Photoshop',
						result_descr: 'Научитесь применять базовые инструменты Photoshop и сделаете свой первый креатив.',
						descr_list: ['Рабочая среда','Инструменты','Работа с простыми объектами','Работа со сложными объектами','Работа со слоями и наложениями','Работа с текстом'],
						mat_list: [
							{
								text: 'Маст-хэв сервисы для дизайнеров',
								icon: 'n',
							},
							{
								text: 'Шпаргалка горячих клавиш фотошоп',
								icon: 'n',
							},
						]
					},
					{
						title: 'Продвинутые инструменты Photoshop',
						result_descr: 'Научитесь делать работы высокого уровня с помощью продвинутых инструментов Photoshop.',
						descr_list: ['Топ инструментов и сервисов для обтравки объектов','Работа с фоном','Постобработка. Фильтр Camera Raw и плагин Magic Bullet Looks','Эффекты','Уникализация текста','Варпинг и размытие','Дизайн кнопок','Дизайн свайпов'],
						mat_list: [
							{
								text: 'Ресурсы и сервисы для создания эффективных креативов',
								icon: 'n',
							},
							{
								text: 'Design Box от Alex Fisher. Пак бесплатных материалов и ресурсов для дизайнеров: 3d, иконки, фоны, текстуры, шрифты, мокапы и другое',
								icon: 'b',
							},
						]
					},
					{
						title: 'Типографика',
						result_descr: 'Научитесь управлять вниманием клиента за счет грамотно подобранной типографики.',
						descr_list: ['Теория типографики','Шрифты','Размер текста','Выравнивание','Межстрочные и межбуквенные расстояния'],
						mat_list: [
							{
								text: 'Пак шрифтов с поддержкой кириллицы',
								icon: 'b',
							},
							{
								text: 'Ресурсы для работы со шрифтами',
								icon: 'n',
							},
						]
					},
					{
						title: 'Практическая часть',
						result_descr: 'Освоите все необходимые навыки для создания качественных рекламных креативов и презентаций, за которые, заказчики готовы платить дорого.',
						descr_list: ['Учимся делать простые баннеры','Учимся делать сложные баннеры <blockquote>(с применением объемных объектов, свечений, уникализации текста, эффектов и наложений)</blockquote>','Разрабатываем дизайн презентации'],
						mat_list: [
							{
								text: 'Шпаргалка на самые популярные размеры макетов',
								icon: 'n',
							},
							{
								text: 'Вспомогательные сетки для самых популярных размеров',
								icon: 'p',
							},
							{
								text: 'Шаблон ТЗ для креативов',
								icon: 'n',
							},
						]
					},
					{
						mod: 'program__item--new',
						title: 'Figma',
						result_descr: 'Освоите основные инструменты и функции онлайн-редактора Figma. Научитесь создавать рекламные креативы за 15-20 минут.',
						descr_list: ['Обзор онлайн-редактора Figma','Шрифты','Плагины','Дизайн креатива в Figma',],
						mat_list: [
							{
								text: 'Плагины Figma',
								icon: 'f',
							},
							{
								text: 'Конструктор креативов',
								icon: 'l',
							},
						]
					},
					{
						mod: 'program__item--new',
						title: 'After Effects',
						result_descr: 'Освоите инструменты и функции программы After Effects. Научитесь делать эффектные, анимированные рекламные креативы. Увеличите линейку продуктов и сможете комплексно закрывать клиентов на высокий чек.',
						descr_list: ['Знакомство с After Effects','Инструменты','Анимация простых объектов','Анимация текста','Анимация текста в 3D','Переходы и эффекты','Марионеточная анимация','Работа с 3D камерой','Трекинг. Привязка к объекту','Свет и тень','Работа с футажами. Зеленый экран','Плагин Motion Bro','Собираем ролик для портфолио','Рендеринг и экспорт видео',],
						mat_list: [
							{
								text: 'Пак видео для фона',
								icon: 'b',
							},
							{
								text: 'Музыка без авторских прав',
								icon: 'h',
							},
							{
								text: 'Пак звуковых эффектов',
								icon: 'm',
							},
							{
								text: 'Шаблоны для соц. сетей',
								icon: 'a',
							},
						]
					},
					{
						mod: 'program__item--new program__item--prem program__item--vip',
						title: 'Упаковка',
						result_descr: 'Упакуешь себя как эксперта. Создашь грамотно составленное резюме. Получишь больше 20 платных и бесплатных способов поиска клиентов на высокий чек.',
						descr_list: ['Упаковка себя как эксперта', 'Бесплатные и платные способы поиска клиентов','Личный бренд <span>new</span>'],
						mat_list: [
							{
								text: 'Инструкция по созданию кликабельного портфолио в телеграм',
								icon: 'n',
							},
							{
								text: 'Прототип оформления графического резюме для бирж фриланса и Behance',
								icon: 'p',
							},
							{
								text: 'Список проверенных фриланс бирж',
								icon: 'n',
							},
						]
					},
					{
						mod: 'program__item--prem program__item--vip',
						title: 'Продажи',
						result_descr: 'Создадите уникальный продукт и поток заявок на свои услуги. Научитесь вести переговоры с позиции силы, закрывать клиентов на высокие чеки и зарабатывать от 500$ до 2500$ в месяц.',
						descr_list: ['Мышления эксперта и как оно может сдерживать ваш рост','Отличия неудачника от победителя','Как устроены продажи в Digital','Создание продукта','Декомпозиция. Воронка продаж','Создание системного потока качественных лидов','Квалификация. Как сразу понять кто НЕ купит','Как работает психология клиента','Как продавать без кейсов','Как вести переговоры с позиции силы','СПИН продажи','Как создавать сильный ценностный фундамент в переговорах','Как правильно называть цену','Коммерческое предложение с конверсией до 60%',],
						mat_list: [
							{
								text: 'Шаблон коммерческого предложения',
								icon: 'n',
							},
							{
								text: 'Список телеграм чатов с предпринимателями',
								icon: 't',
							},
							{
								text: 'Скрипты для переговоров',
								icon: 'n',
							},
						]
					},
					{
						mod: 'program__item--new program__item--prem program__item--vip',
						title: 'UpWork',
						result_descr: 'Научитесь генеировать клиентов со всего мира с помощью платформы Upwork',
						descr_list: ['Основы и принципы','Типы аудитории платформы','Верификация','Типы контрактов','Комиссии','Правила','Упаковка профиля','Поиск Job-постов','Анализ Job-поста','Лидогенерация, составление Proposal','Воронка','Принципы в продаже','Долгосрочный успех на платформе'],
					},
					{
						mod: 'program__item--new program__item--vip',
						title: 'Построение команды',
						result_descr: 'Узнаете как создать свою студию дизайна и грамотно выстроить все процессы в ней. Научитесь нанимать сотрудников и пользоваться сервисами для успешной работы команды.',
						descr_list: ['Какие люди нужны в команде','Сервисы (Trello, Slack)','Как нанять первого человека в команду','Нейминг для собственного проекта','Бизнес процесс в студии'],
						mat_list: [
							{
								text: 'Шаблон для управления дизайн-проектами',
								icon: 'n',
							},
							{
								text: 'Сервисы для генерации нейминга',
								icon: 'n',
							},
							{
								text: 'Инструкция по выбору и проверке доменного имени',
								icon: 'n',
							},
							{
								text: 'Инструкция “Как открыть ФЛП”',
								icon: 'n',
							},
							{
								text: 'Mindmap по бизнес процессам в студии',
								icon: 'd',
							},
						]
					},
					{
						mod: 'program__item--vip',
						title: 'Выпускной',
						result_descr: 'Подведете итоги, как сильно вы вырос(-ла) за последний месяц. Зарядитесь на дальнейшую работу. Узнаешь, как постоянно расти в своем доходе.',
						descr_list: ['Обсуждения процесса от точки', 'А до точки Б','Детальный разбор каждого ученика','Общение, поддержка, ответы на ','все итоговые вопросы',],
					},
				]

			each item, index in programList
				li.program__item(class= item.mod)
					.program__item_in
						.program__item_acc_item_head
							.program__item_offer
								.program__item_offer_item.program__item_offer_item--num= `Блок ${index}`
								.program__item_offer_item.program__item_offer_item--new
								.program__item_offer_item.program__item_offer_item--prem premium
								.program__item_offer_item.program__item_offer_item--vip vip
							.program__item_title= item.title
						.program__item_acc_item_body
							.program__item_descr
								.program__item_descr_title Содержание урока:
								ul.program__item_descr_list
									each descr_item in item.descr_list
										li.program__item_descr_item!= descr_item
								if item.mat_list
									.program__item_descr_title.program__item_descr_title--offset_mod материалы:
									ul.program__item_mat_list
										each matitem in item.mat_list
											li.program__item_mat_item= matitem.text
												.program__item_mat_img
													img(src=`images/mat_${matitem.icon}.png` alt="icon").program__item_mat_img_in
							.program__item_result
								.program__item_descr_title Результат:
								.program__item_result_descr= item.result_descr
		.program__btn_w
			button.program__btn.ProgBtn
				span вся программа
				span свернуть программу